vemanthADF/PartialArmTemplates/ArmTemplate_8_30_2020_23_58_33.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "vemanthADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Vemanth_TestADF')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Vemanth Testing ADF",
				"activities": [
					{
						"name": "Copy Data from source to Target",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "FileScanner",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Source_FIle_Location",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Target_Location",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "FileScanner",
						"type": "Validation",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Source_FIle_Location",
								"type": "DatasetReference"
							},
							"timeout": "0.00:00:30",
							"sleep": 10
						}
					},
					{
						"name": "Delete Source File",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy Data from source to Target",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Source_FIle_Location",
								"type": "DatasetReference"
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"path": "vemanth2"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							}
						}
					}
				],
				"annotations": [
					"Vemanth"
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Source_FIle_Location')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_FIle_Location')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "*",
						"container": "vemanth1"
					}
				}
			},
			"dependsOn": []
		}
	]
}